<app-logged *ngIf="authService.user | async"></app-logged>

  <br/><br/><br/><br/><br/>
  <div *ngIf="!(authService.user | async)">

    <app-login-spinner showed="{{autentify}}" message="Autenticando usuario..." >
    </app-login-spinner>

  <div class="ui middle aligned centered grid" >

    <div class="ui column">
      <h1 class="ui image header" style="margin-left: 10%; margin-right: 10%">
        <img src="../../assets/images/logo_seekTest.png" class="image">
        <div class="content"style="color: #2a5569">
          Recuperar Contraseña <br> SeekTest
        </div>
      </h1>

      <div class="ui raised segment " >
        <div class="ui error message" *ngIf="(errorHappened)">
          <div class="header">
            ¡Upps! Algo no ha ido bien.
          </div>
          {{errorMessage}}
        </div>
        <div class="ui large form">
          <div class="field">
            <label>Correo electrónico</label>
            <input type="email" [(ngModel)]="email" placeholder="Dirección de correo">
          </div>
          <div style="margin-left: 20%; margin-right: 20%">
            <button class="ui fluid inverted blue submit button" (click)="resetPassword()" [disabled]="!email" >
            Enviar
            </button>
            <br/>
            <button class="ui fluid inverted pink button" (click)="cancelar()">
              Cancelar
            </button>
            <br/>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
