<div class="ui middle aligned centered grid">
  
      <div class="ui column">
          <h1 class="ui image header">
              <img src="../../assets/images/logo_seekTest.png" class="image">
              <div class="content">
                Iniciar Sesion
              </div>
            </h1>
          <div class="ui raised segment"> 
            <form class="ui large form">
              <div class="field">
                <label>Usuario</label>
                <input type="text" name="user" placeholder="Usuario">
              </div>
              <div class="field">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña">
              </div>
              <button class="ui fluid large submit button">Log In</button>
            </form>
          </div>
      </div>
</div>