<div class="ui centered grid">
      <div class="ui column">
          <h2 class="ui image header">
            <div class="content">
                Iniciar Sesion
            </div>
          </h2>
          <form class="ui large form">
            <div class="field">
              <label>Usuario</label>
              <input type="text" name="user" placeholder="Usuario">
            </div>
            <div class="field">
              <label>Contraseña</label>
              <input type="password" name="password" placeholder="Contraseña">
            </div>
            <button class="ui fluid large submit button">Log In</button>
          </form>
      </div>
</div>