<ng-container *ngIf="(auth.user | async) || {} as user" class="ui">
<form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
  <div class="ui middle aligned centered grid">
    <div class="ui column">
      <h1 class="ui image header" style="margin-left: 10%; margin-right: 10%">
        <img src="../../assets/images/logo_seekTest.png" class="image">
        <div class="content"style="color: #2a5569">
          Registro <br> SeekTest
        </div>
      </h1>
  
      <div class="ui raised segment " >
        <div class="ui large form">
          <div class="field">
            <label>Correo electronico</label>
            <input type="email" class="ui input" placeholder="dirección de correo" [class.is-danger]="email.invalid && email.dirty"
            formControlName="email" required autocomplete="off">
            <div *ngIf="email.invalid && email.dirty" class="notification is-danger">
              Correo no válido.
          </div>
          </div>
          <div class="field">
            <label>Contraseña</label>
            <input type="password" placeholder="contraseña" class="ui input" [class.is-danger]="password.invalid && password.touched"
            formControlName="password" required>
            <div *ngIf="password.invalid && password.dirty" class="notification is-danger">
              La contraseña debe tener entre 6 - 24 caracteres y contener una letra y número.
            </div>
          </div>
          
            <button class="ui fluid inverted blue submit button" type="submit" class="ui button" [disabled]="!signupForm.valid" >
                Registrarse
            </button>
            <br/>
            <button class="ui button" (click)="goBackRegister()">
              Atrás
            </button>
           <br/>
          <div class="ui error message" *ngIf="errorHappened | async">
            <div *ngIf="password.invalid && password.touched" class="notification is-danger">
              La contraseña debe tener entre 6 y 24 caracteres
            </div>
          </div>
          <div class="ui error message" *ngIf="errorHappened | async">
            <div class="header">Action Forbidden</div>
            <p>You can only sign up for an account once with a given e-mail address.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
  <form [formGroup]="detailForm" *ngIf="user.uid && !user.age" (ngSubmit)="setUserInfo(user)">
      <div class="ui middle aligned centered grid">
      <div class="ui column">
          <h1 class="ui image header" style="margin-left: 10%; margin-right: 10%">
              <img src="../../assets/images/logo_seekTest.png" class="image">
              <div class="content"style="color: #2a5569">
                Datos Personales <br> SeekTest
              </div>
            </h1>
      <div class="ui raised segment " >
          <div class="ui large form">
        

          <div class="field">
              <label>Nombre</label>
              <input type="text" class="input" formControlName="name" required autocomplete="off">
          </div>
          <div class="field">
              <label>Surname</label>
              <input type="text" class="input" formControlName="surname" required autocomplete="off">
          </div>
          <div class="field">
              <label>Edad</label>
              <input type="text" class="input" formControlName="age" required autocomplete="off">
          </div>
          <div class="field">
              <label>Sexo</label>
              <div class="ui radio">
                <input ng-model="sexo" type="radio" name="sexo" value="hombre"  ng-value="hombre" formControlName="sexo"> Hombre
                <input ng-model="sexo" type="radio" name="sexo" value="mujer" ng-value="muujer" formControlName="sexo"> Mujer
              </div>
            </div>
          <div class="field">
              <label >Alergias</label>
              <input type="text" class="input" formControlName="alergias">
          </div>
          <div class="field">
              <label>Observaciones Médicas</label>
              <input type="text" class="input" formControlName="observacionesMedicas">
          </div>
          <div class="field">
              <label>Información Adicional</label>
              <input type="text" class="input" formControlName="infoAdicional" >
          </div>
          <button type="submit" class="ui button" [disabled]="!detailForm.valid">Enviar</button>
    </div>
    </div>
    </div>
    </div>
  </form>
</ng-container>




