
<div class="ui card item">
  <div class="content">
    <a class="header">{{grupo.nombre }}</a>
    <div class="meta">
      <span class="date">Creación:
      {{ dateCreated | date:'dd/MM/yyyy'}}&nbsp;a&nbsp;las&nbsp; {{ dateCreated | date:'HH:mm'}}.</span>
    </div>
    <div class="description">
      {{grupo.description}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{ grupo.researchers != undefined ? grupo.researchers.length : 0 }} miembros
    </a>
  </div>
  <button id="join" (click)="seleccionarGrupo()" class="ui fluid inverted blue button" *ngIf="!myGroup && !hasGroup" >
    <i class="sign in alternate icon"></i>Unirse
    <!-- UNIRSE AL GRUPO -->
  </button>
  <button id="leave" (click)="abandonarGrupo()" class="ui fluid inverted pink button" *ngIf="myGroup && hasGroup">
    <i class="sign out alternate icon"></i>Abandonar
    <!-- ABANDORNAR EL GRUPO -->
  </button>
</div>
