<div class="ui inverted blue button" (click)="goToNewGroup()" *ngIf="grupoActual.key === undefined">
  Nuevo grupo
</div>
<br/><br/>
<div>
  <h3>Mi grupo de investigación</h3>
  <app-group-card *ngIf="grupoActual.key !== undefined" [grupo]="grupoActual" [myGroup]="true" [hasGroup]="grupoActual.key !== undefined"
    (dadoDeBaja)="borrarGrupoActual()"></app-group-card>
  <p *ngIf="grupoActual.key === undefined"> No pertenece a ningún grupo </p>
</div>

<br/><br/>

<div class="ui icon input fluid">
  <input type="text" style="border-radius: 25px;" placeholder="Search..." (input)="buscarGrupo()"
         (change)="buscarGrupo()"
         [(ngModel)]="textoTitulo">
  <i class="search icon"></i>
</div>

<div class="ui four column grid items stackable">
  <div *ngFor="let grupo of items">
    <app-group-card [grupo]="grupo" [myGroup]="false" [hasGroup]="grupoActual.key !== undefined"
      (dadoDeAlta)="actualizarGrupoActual(grupo);"></app-group-card>
  </div>
  <div *ngIf="(items == null) || (items.length <= 0)">
    <p class="text">No&nbsp;hay&nbsp;registros.</p>
  </div>
</div>
