<div class="ui aligned centered" *ngIf="functionsService.showMainPage">
    <div class="ui raised segment">
      <img class="ui centered image" src="../../assets/images/Logofinal.png">
      <br/><br/><br/><br/>
      <div class="ui middle aligned centered grid">
        <div class="ui raised segment">
          <button class="ui fluid huge inverted blue button"style="margin-bottom: 20px" (click)="clickOnLogin()" >
            Iniciar Sesión
          </button>
          <br>
          <button class="ui fluid huge inverted blue button" (click)="clickOnRegister()" >
            Regístrate
          </button>
        </div>
      </div>
      <br/><br/><br/><br/>
    </div>
</div>

<app-user-form *ngIf="register && !functionsService.showMainPage && !login"></app-user-form>
<app-login *ngIf="!register && ((functionsService.isLogged)||(login && !functionsService.showMainPage)) && !functionsService.reset"></app-login>
<app-reset-password *ngIf="((functionsService.reset))"></app-reset-password>
