<ng-container *ngIf="(auth.user | async) || {} as user" class="ui column">
  <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">
    <div class="ui raised segment " >
      <div class="ui large form">
        <div class="field">
          <label>Correo electronico</label>
          <input type="email" class="input" placeholder="dirección de correo" [class.is-danger]="email.invalid && email.dirty"
          formControlName="email" required autocomplete="off">
          <div *ngIf="email.invalid && email.dirty" class="notification is-danger">
            Correo no válido.
        </div>
        </div>
        <div class="field">
          <label>Contraseña</label>
          <input type="password" placeholder="contraseña" class="input" [class.is-danger]="password.invalid && password.touched"
          formControlName="password" required>
        </div>
        
        <button type="submit" class="button is-primary" [disabled]="!signupForm.valid">
          Registrarse
        </button>
        <br/>
        <div class="ui error message" *ngIf="errorHappened | async">
        <div *ngIf="password.invalid && password.touched" class="notification is-danger">
          La contraseña debe tener entre 6 y 24 caracteres 
        </div>
      </div>
    </div>
  </div>
  </form>
      
  <form [formGroup]="detailForm" *ngIf="user.uid && !user.age" (ngSubmit)="setUserInfo(user)">
      <div class="ui raised segment " >
          <div class="ui large form">
    <h3>Datos personales</h3>
    
    <label for="name">Nombre</label>
    <input type="test" class="input" formControlName="name" required autocomplete="off">
    <label for="name">Surname</label>
    <input type="test" class="input" formControlName="surname" required autocomplete="off">
    <label for="name">Edad</label>
    <input type="test" class="input" formControlName="age" required autocomplete="off">
    <label for="name">Sexo</label>
    <input type="test" class="input" formControlName="sexo" required autocomplete="off">
    <label for="name">Alergias</label>
    <input type="test" class="input" formControlName="alergias" required autocomplete="off">
    <label for="name">Observaciones Médicas</label>
    <input type="test" class="input" formControlName="observacionesMedicas" required autocomplete="off">
    <label for="name">Información Adicional</label>
    <input type="test" class="input" formControlName="infoAdicional" required autocomplete="off">
    <button type="submit" class="button is-primary" [disabled]="!detailForm.valid">Enviar</button>
    </div>
    </div>
  </form>
</ng-container>
    
    
    
    



