<ng-container *ngIf="(auth.user | async) || {} as user" class="ui column">
  <form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">

    <div class="ui raised segment " >
      <div class="ui large form">
        <div class="field">
          <label>Correo electronico</label>
          <input type="email" class="input" placeholder="dirección de correo" [class.is-danger]="email.invalid && email.dirty"
          formControlName="email" required autocomplete="off">
          <div *ngIf="email.invalid && email.dirty" class="notification is-danger">
            Correo no válido.
        </div>
        </div>
        <div class="field">
          <label>Contraseña</label>
          <input type="password" placeholder="contraseña" class="input" [class.is-danger]="password.invalid && password.touched"
          formControlName="password" required>
        </div>
        <button type="submit" class="button is-primary" (click)="login()" [disabled]="!signupForm.valid">
          Registrarse
        </button>
        <br/>
        <div class="ui error message" *ngIf="errorHappened | async">
        <div *ngIf="password.invalid && password.touched" class="notification is-danger">
          Password must be between 6 and 24 chars and have at least one number 
        </div>
      </div>
    </div>
  </div>
  </form>
      
  <form [formGroup]="detailForm" *ngIf="user.uid && !user.fullName" (ngSubmit)="setfullName(user)">
      <div class="ui raised segment " >
          <div class="ui large form">
    <h3>Datos personales</h3>

    <label for="fullName">Nombre</label>
    <input type="test" class="input" formControlName="fullName" required autocomplete="off">
    <button type="submit" class="button is-primary" [disabled]="!detailForm.valid">Enviar</button>
    </div>
    </div>
  </form>

  <p *ngIf="user.fullName" class="text-success">
      Registro completado!
  </p>  
</ng-container>
    
    
    
    



