<div class="ui stackable attached menu">
  <div class="left item" style="cursor: pointer" (click)="goBackToExperiments()">
    <img src="../../assets/images/logo_seekTest.png" class="image">
    <h2>{{titleHeader}}</h2>
  </div>
  <div class="right item">

    <button class="ui icon button" (click)="selectPerfil()">
      <i class="user icon"></i>
        {{ authService.userDataJson._name }}
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="ui icon button" (click)="logout()" *ngIf="authService.user | async">
      <i class="sign out icon"></i>
    </button>
  </div>
</div>
<!--
<div class="ui secondary pointing menu">
  <a class="item">
    <img src="../../assets/images/logo_seekTest.png" class="image" height="15%" width="15%">
  </a>
  <a class="item active">
    <button class="ui label" (click)="selectPerfil()">
      <i class="user icon"></i>
      Mi perfil
    </button>
  </a>
  <a class="item">
    <button class="ui label" (click)="selectPerfil()">
      <i class="columns icon"></i>
      Experimentos
    </button>
  </a>
  <div class="right menu">
    <a class="ui item">
      <p class="ui label" >Autenticado como {{ authService.userDataJson._name }}</p>
      <button class="ui label" (click)="logout()" *ngIf="authService.user | async">
        <i class="sign out icon"></i>
      </button>
    </a>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>
-->
