<div *ngIf="(windowsSize > 430)">
    <app-header></app-header>
    <app-experiments *ngIf="functionsService.experimentsSelected"></app-experiments>
      <app-user-data *ngIf="functionsService.perfilSelected"></app-user-data>
        <app-new-experiment *ngIf="functionsService.newExperimentSelected"></app-new-experiment>
        <app-my-experiments *ngIf="functionsService.myexperimentsSelected"></app-my-experiments>
        <app-grupos-invest *ngIf="functionsService.gruposSelected"></app-grupos-invest>
        <app-new-group *ngIf="functionsService.newGroupSelected"></app-new-group>
        <app-my-experiments-inscriptions *ngIf="functionsService.myexperimentsInscriptionsSelected"></app-my-experiments-inscriptions>
</div>
<div  *ngIf="(windowsSize <= 430)">
    <div class="ui top attached demo menu">
        <a class="item" (click)="sidebar.toggle()">
            <i class="sidebar icon"></i> Menu
        </a>
        <a class="item" (click)="goBackToExperiments()" style="padding-left: 195px;">
            <img src="../../assets/images/logoheader.png" class="image" style="height: 35px; width: auto;" >
        </a>
      </div>
        <sui-sidebar-container class="ui bottom attached segment">
          <sui-sidebar class="vertical" #sidebar>

            <div class="right menu">
              <a class="{{miPerfilItem}}" (click)="selectPerfil()">
                 <h3>
                <i class="user icon"></i>{{ authService.userDataJson._name }}&nbsp;{{ authService.userDataJson._surname }}
                </h3>
              </a>
              <a class="{{gruposItem}}" (click)="selectGrupos()"
                 *ngIf="authService.userDataJson._researcher">
                <i class="users icon"></i> <h3>
                    Grupos de investigación
                </h3>
              </a>
              <a *ngIf="authService.userDataJson._researcher" class="{{misExperimentosItem}}" (click)="goToMyExperiments()">
                 <h3>
                <i class="thumbtack icon"></i> Publicados
              </h3>
              </a>
              <a *ngIf="!authService.userDataJson._researcher" class="{{misExperimentosInscritosItem}}" (click)="goToMyExperimentsInscriptions()">
                 <h3>
                <i class="tasks icon"></i> Inscritos
                </h3>
              </a>
              <a class="{{experimentosItem}}" (click)="goBackToExperiments()" >
                <h3>
                <i class="columns icon"></i> Buscar
                </h3>
              </a>
              <a class="{{nuevoExperimentoItem}}" (click)="goToNewExperiment()"
                 *ngIf="authService.userDataJson._researcher">
                 <h3>
                    <i class="left plus icon"></i> Nuevo
                 </h3>
              </a>
              <a class="ui item" (click)="logout()"
                 style="margin-: 80px; ">
                 <h3>
                    <i class="sign out icon"></i> Cerrar sesión
                 </h3>
              </a>
            </div>
          </sui-sidebar>
          <sui-sidebar-sibling [isDimmedWhenVisible]="true">
             <div class="ui basic segment">
            <app-experiments *ngIf="functionsService.experimentsSelected"></app-experiments>
            <app-user-data *ngIf="functionsService.perfilSelected"></app-user-data>

              <app-new-experiment *ngIf="functionsService.newExperimentSelected"></app-new-experiment>
              <app-my-experiments *ngIf="functionsService.myexperimentsSelected"></app-my-experiments>
              <app-grupos-invest *ngIf="functionsService.gruposSelected"></app-grupos-invest>
              <app-new-group *ngIf="functionsService.newGroupSelected"></app-new-group>
              <app-my-experiments-inscriptions *ngIf="functionsService.myexperimentsInscriptionsSelected"></app-my-experiments-inscriptions>
            </div>
          </sui-sidebar-sibling>
        </sui-sidebar-container>
</div>
