<!--<ng-container *ngIf="(auth.user | async) || {} as user">-->
<app-logged *ngIf="authService.user | async"></app-logged>

<br/><br/><br/><br/><br/>
<div *ngIf="!(authService.user | async)">

  <app-login-spinner showed="{{autentify}}" message="Autenticando usuario..." >
  </app-login-spinner>

<div class="ui middle aligned centered grid" >

  <div class="ui column">
    <h1 class="ui image header" style="margin-left: 10%; margin-right: 10%">
      <img src="../../assets/images/logo_seekTest.png" class="image">
      <div class="content"style="color: #2a5569">
        Autentificación <br> SeekTest
      </div>
    </h1>

    <div class="ui raised segment " >
      <div class="ui error message" *ngIf="(errorHappened)">
        <div class="header">
          ¡Upps! Algo no ha ido bien.
        </div>
        {{errorMessage}}
      </div>
      <div class="ui large form">
        <div class="field">
          <label>Usuario</label>
          <input type="email" [(ngModel)]="email" placeholder="dirección de correo">
        </div>
        <div class="field">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="password" placeholder="contraseña">
        </div>

        <div style="margin-left: 20%; margin-right: 20%">
          <button class="ui fluid inverted blue submit button" (click)="login()" [disabled]="!email || !password" >
            Autentificarse
          </button>
          <br/>
          <button class="ui fluid inverted blue labeled icon button" (click)="goBackLogin()">
            <i class="left arrow icon"></i>
            Atrás
          </button>
        </div>
      </div>
      <br/>
      <p class="ui text">¿Has olvidado la contraseña?
        <a (click)="resetPassword()" style="cursor: pointer;">Recuperar contraseña</a></p>
    </div>
  </div>
</div>
</div>
