<div class="ui attached stackable menu" *ngIf="authService.user | async">
  <div class="left item">
    <img src="../../assets/images/logo_seekTest.png" class="image">
  </div>
  <div class="right item">
    <div class="ui label">
      <button class="ui button">
          <i class="user icon"></i>
        {{ (authService.user | async)?.email }}

      <div class="ui button" (click)="logout()" *ngIf="authService.user | async">
        <i class="sign out icon"></i>
      </div>
      </button>
    </div>
  </div>
</div>

<div class="ui middle aligned centered grid" *ngIf="!(authService.user | async)">

  <div class="ui column">
    <h1 class="ui image header">
      <img src="../../assets/images/logo_seekTest.png" class="image">
      <div class="content">
        Autentificación <br> SeekTest
      </div>
    </h1>

    <div class="ui raised segment " >
      <div class="ui large form">
        <div class="field">
          <label>Usuario</label>
          <input type="email" [(ngModel)]="email" placeholder="email">
        </div>
        <div class="field">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="password" placeholder="password">
        </div>
        <button class="ui fluid submit button" (click)="login()" [disabled]="!email || !password">
          Autentificarse
        </button>
        <br/>
        <button class="ui fluid button" (click)="signup()" [disabled]="!email || !password">
          Registrarse y autentificarse
        </button>
        <div class="ui error message" *ngIf="errorHappened | async">
          <div class="header">Action Forbidden</div>
          <p>You can only sign up for an account once with a given e-mail address.</p>
        </div>
      </div>
    </div>

  </div>
</div>
